/***************************************Btn operation************************************/

.operation {
  &__lien{
    opacity : 0;
    @for $i from 1 through 3{
      &--#{$i}{
        @include animation(apparition, 0.4s, ease-out, 0s, 1, normal, forwards);
        -webkit-animation-delay: (0.2s * $i) + 3s;
                animation-delay: (0.2s * $i) + 3s;
      }
    }
  }
  &__btn {
    width: 32.5rem;
    height: 7.5rem;
    background-color: $colour-btn-operation;
    border-radius: 2rem;
    margin-bottom: 2.5rem;
    box-shadow: $box-shadow-btn;
    @include flex-center;
    @include myTransition(background-color, 250ms, ease-in-out, 0s);
    @include myTransition(box-shadow, 250ms, ease-in-out, 0s);
    &:hover{
        background-color: $colour-btn-operation-survol;
        box-shadow: $box-shadow-btn-survol;
    }
    &--3{
      background-color: $colour-btn-operation3;
    }
  }
  &__number {
    width: 2.2rem;
    height: 2.2rem;
    background-color: $colour-primary;
    color: $colourbg-primary;
    text-align: center;
    border-radius: 2.2rem;
    margin: 1rem;
    font-size: 1.4rem;
    padding-top: 0.3rem;
    transform: translateX(-5.5rem);
    &--3 {
      transform: translateX(-5rem);
    }
  }
  &__icon {
    font-size: 1.8rem;
    margin: 1rem;
    color: $colour-icon-operation;
    transform: translateX(-5rem);
    &--3{
      color: $colour-primary;
    }
  }
  &__parag {
    font-size: 1.6rem;
    color: #000;
    margin: 1rem;
    transform: translateX(-5rem);
  }
}
