/*********************RESET CSS et Général***************************************/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 192rem;
    height: 100vh;
    margin: auto;
    position: relative;
}

li{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

