/***************************************GRID Container***************************************/

.operation {
  @include media-min(mobile-down) {
    &__btn {
      width: 27rem;
    }

    &__number {
      transform: translateX(-2.5rem);
      &--3 {
        transform: translateX(-2rem);
      }
    }
    &__icon {
      transform: translateX(-2.5rem);
    }
    &__parag {
      transform: translateX(-2.5rem);
    }
  }
  @include media-min(mobile) {
    &__btn {
      width: 32.5rem;
    }

    &__number {
      transform: translateX(-5.5rem);
      &--3 {
        transform: translateX(-5rem);
      }
    }
    &__icon {
      transform: translateX(-5.5rem);
    }
    &__parag {
      transform: translateX(-5.5rem);
    }
  }
}
