/***************************************GRID Container***************************************/

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6.3rem 5rem 28.7rem;
  grid-template-areas:
    "siteheader"
    "location"
    "exploration";
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6.3rem 28.7rem;
    grid-template-areas: "siteheader location"
                         "exploration exploration";
  }
}
