/***********************************Grid containers Pages****************************************/

.menu-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8.5rem 8.5rem 8.5rem 1fr;
  grid-template-areas: "menu1" "menu2" "menu3" "menu4";
  justify-items: center;
}

/*******************************Media queries Restos titre************************************************/

.resto {
  @include media-min(mobile-down) {
    &__titre {
      font-size: 2.5rem;
    }
  }
  @include media-min(mobile) {
    &__titre {
      font-size: 3rem;
    }
  }
}

/*******************************Media queries Menu-cards******************************************/

.menu-card {
  @include media-min(mobile-down) {
    width: 27rem;
    &__titre {
      font-size: 1.6rem;
    }
    &__comment {
      font-size: 1.4rem;
      &--parag {
        max-width: 22rem;
        font-size: 1.2rem;
      }
    }
    &:active {
      .menu-card {
        &__comment {
          &--parag {
            max-width: 16rem;
          }
        }
      }
    }
  }
  @include media-min(mobile) {
    width: 35rem;
    &__titre {
      font-size: 1.8rem;
    }
    &__comment {
      &--parag {
        max-width: 28rem;
        font-size: 1.4rem;
      }
    }
    &:active {
      .menu-card {
        &__comment {
          &--parag {
            max-width: 22rem;
          }
        }
      }
    }
  }
  @include media-min(desktop) {
    &:hover {
      .menu-card {
        &__apparat {
          transform: translateX(0);
          &--icon {
            transform: rotate(-360deg);
          }
        }
        &__comment {
          &--price {
            transform: translateX(-6rem);
          }
          &--parag {
            max-width: 22rem;
          }
        }
      }
    }
  }
}

/******************************Media queries Restos Titre****************************************/

.resto {
  @include media-min(desktop) {
    width: 90%;
    left: 5%;
  }
}

/******************************Media queries Menu pages du site**********************************/

.menu {
  @include media-min(desktop) {
    width: 90%;
    margin: auto;
  }
}

.menu-cards-container {
  @include media-min(tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8.5rem 8.5rem;
    grid-template-areas:
      "menu1 menu2"
      "menu3 menu4";
  }
  @include media-min(desktop-up) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8.5rem 8.5rem;
    grid-template-areas: "menu1 menu2 menu3"
                         "menu4 menu5 menu5";
  }
}
