//*********************Mixin pour centrer un élément avec flexbox****************//

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center; 
}

//*******************Mixin keyframes***********************************//

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

//***********************Mixin pour les animations*********************//

@mixin animation(
  $animation,
  $duration,
  $timing,
  $delay,
  $iteration,
  $direction,
  $fill-mode
) {
  -webkit-animation-name: $animation;
          animation-name: $animation;
  -webkit-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-timing-function: $timing;
          animation-timing-function: $timing;
  -webkit-animation-delay: $delay;
          animation-delay: $delay;
  -webkit-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-direction: $direction;
          animation-direction: $direction;
  -webkit-animation-fill-mode: $fill-mode;
          animation-fill-mode: $fill-mode;
}

//****************************Mixin pour les transitions*************************//

@mixin myTransition($property, $duration, $timing, $delay) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}