/***********************Couleurs principales***********************/

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

/**********************Couleurs backgrounds et texte*****************/

$colourbg-primary: #fff;
$colourbg-location: #eaeaea;
$colourbg-secondary: #f6f6f6;
$colourbg-footer:#353535;
$colourtxt-new: #008766;

/*********************Couleurs icones et boutons*******************/

$colour-icon-operation: #7e7e7e;
$colour-btn-exploration: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);