.exploration {
  grid-area: exploration;
  width: 100%;
  height: 28.7rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colourbg-secondary;
  &__titre {
    text-align: center;
    margin: 1.5rem;
  }
  &__parag {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 2rem;
  }
}
