.location {
  grid-area: location;
  width: 100%;
  height: 5rem;
  background-color: $colourbg-location;
  box-shadow: $box-shadow-location;
  grid-area: location;
  @include flex-center;
  transform: translateX(100%);
    @include animation(slide-location, 1s, ease-in-out, 2.2s, 1, normal, forwards);
  &__town {
    &--lien {
      font-size: 1.8rem;
      color: $colourtxt-location;
    }
    &--saisie {
      height: 2.5rem; 
      width: 14rem;
      margin-left: 1.5rem;
      font-family: "Roboto", sans-serif;
      font-size: 1.7rem;
      font-weight: 400;
      border: none;
      background-color: transparent;
    }
  }
}

