/***********************************Section Operation*************************************/

.operation {
  width: 100%;
  height: 44rem;
  padding: 5rem 2rem;
  &__titre {
    margin-bottom: 3rem;
  } 
  &__lien{
    &--1{
      grid-area: operation1;
    }
    &--2{
      grid-area: operation2;
    }
    &--3{
      grid-area: operation3;
    }
  }
}
