/***********************************Section restaurants*************************************/

.restaurants {
  width: 100%;
  height: 122.5rem;
  padding: 5rem 2rem;
  background-color: $colourbg-secondary;
  transform: translateX(-100%);
  @include animation(slide-left, 1s, ease-in-out, 2.2s, 1, normal, forwards);
  &__titre {
    margin-bottom: 2rem;
  }
  &__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.restaurant {
  &__card {
    &--1 {
      grid-area: card1;
    }
    &--2 {
      grid-area: card2;
    }
    &--3 {
      grid-area: card3;
    }
    &--4 {
      grid-area: card4;
    }
  }
}
